# Ignore compiled binaries
bin/*

# Ignore libraries (that can be obtained elsewhere)
lib/*

# Ignore Eclipse Stuff (Because it contains stuff specific to one machine)
.settings/*
.classpath
.project
